<h2>Details about the car:</h2>
<div><span>ID: {{car.id}}</span></div>
<div><span>Brand: {{car.brand}}</span></div>
<div><span>Model: {{car.model}}</span></div>
<div><span>Year: {{car.year}}</span></div>

<div>
  <label for="brand">Car Brand: </label>
  <input id="brand" [(ngModel)]="input" placeholder="Car Brand" />
</div>

<div>
  You entered: {{input}}
</div>

<h2>Car List</h2>
<ul class="cars">
  <li *ngFor="let car of cars">
    <button type="button" [class.selected]="car === selectedCar" (click)="onSelect(car)">
      <span class="badge">{{car.id}}</span>
      <span class="name">{{car.brand}} {{car.model}}</span>
    </button>
  </li>
</ul>

<div *ngIf="selectedCar">
  <h2>{{selectedCar.year}} {{selectedCar.brand}} {{selectedCar.model}}</h2>
  <div>
    <label for="carYear">
      Year:
      <input type="text" id="carYear" [(ngModel)]="selectedCar.year"/>
    </label>
    <label for="carBrand">
      Brand:
      <input type="text" id="carBrand" [(ngModel)]="selectedCar.brand"/>
    </label>
    <label for="carModel">
      Model:
      <input type="text" id="carModel" [(ngModel)]="selectedCar.model"/>
    </label>
  </div>
</div>
