<!-- app-cars -->
<h2>Details about the car:</h2>
<!-- car variable -->
<div><span>ID: {{car.id}}</span></div>
<div><span>Brand: {{car.brand}}</span></div>
<div><span>Model: {{car.model}}</span></div>
<div><span>Year: {{car.year}}</span></div>

<div>
  <label for="brand">Car Brand: </label>
  <input id="brand" [(ngModel)]="input" placeholder="Car Brand" />
</div>

<div>
  You entered: {{input}}
</div>

<h2>Car List</h2>
<ul class="cars">
  <!-- for loop -->
  <li *ngFor="let car of cars">
    <!-- class.cssName = condition -->
    <!-- (click) = click function -->
    <button type="button" [class.selected]="car === selectedCar" (click)="onSelect(car)">
      <span class="badge">{{car.id}}</span>
      <span class="name">{{car.brand}} {{car.model}}</span>
    </button>
  </li>
</ul>

<!-- Component inside component, [variable parameter]="selected parameter from this controller" -->
<app-car-detail [car]="selectedCar"></app-car-detail>
